<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Management System</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    header {
      display: flex;
      align-items: center;
    }

    img {
      width: 10%;
      height: auto;
      margin-right: 20px;
    }

    h1 {
      margin: 0;
    }
  </style>
</head>
<body>
    <header>
      <img
        src="https://tainguyenmoitruong.gov.vn/file/e7837c027c963c7f017d6f9413cd5037/042023/logo_trung_tam_dang_web_20230418143021.jpg?width=500&height=-&type=resize"
        alt="Logo">
      <h1>Student Management System</h1>
    </header>
  <main>
    <h2>Chào Mừng Đến Hệ Thống Quản Lý Sinh Viên</h2>
    <nav>
      <ul>
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="/studentsList">Danh Sách Sinh Viên</a></li>
        <li><a href="/manageStudents">Thêm Sửa Xóa Sinh Vien</a></li>
        <li><a href="/studentStatistics">Biểu Đồ Thống Kế</a></li>
      </ul>
    </nav>
  </main>
  <footer>
    <p>Copyright &copy; 2023</p>
  </footer>
</body>
</html>
