<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
</head>
<body>
  <h1>Thông Tin Chi Tiết Sinh Viên</h1>
  <ul>
    <% students.forEach(student => { %>
      <li>
        <strong>MSSV:</strong> <%= student.MSSV %><br>
        <strong>Tên:</strong> <%= student.Tên %><br>
        <strong>Ngành:</strong> <%= student.Ngành %><br>
        <strong>Năm sinh:</strong> <%= student["Năm sinh"] %>
      </li>
      <hr>
    <% }); %>
  </ul>
  
</body>
</html>
